{{#each data.cards}}
<div class="details-container" data-type="{{this.type}}" data-id="{{this.id}}">
	<div class="details-inner">
		<div class="img-wrap">
			<img src="{{this.image}}" />
		</div>
		<div class="details-wrap">
			<h4>{{this.title}}</h4>
			<p>{{this.paragraph}}</p>
		</div>
		<div class="subdetails">
			{{this.footnote}}
		</div>
	</div>
</div>
{{/each}}